.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.raleway{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif
    color: #434455;
    background-color: #FFFFFF;
}
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
h1,
h2,
h3,
h4,
h5,
h6,
p,{
    margin: 0;
}

ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header {
background-color: #ffffff;
border-bottom: 1px solid #e7e9fc;
}
a {text-decoration:none;}
.section {
    padding: 120px 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.logo-web {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}

.logo-highlight{
    color: #2e2f42;
}

.nav-list {
        gap: 40px;
    display: flex;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
        display: inline-block;
}
.nav-item{

}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contact-info {
    font-style: normal;
}

.contact-list {
gap: 40px;
display: flex;
}
.contact-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

  .hero {
      background-color: #2e2f42;
      text-align: center;
      color: #ffffff;
    padding:188px 0;
  }

 
  .hero-title {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      color: #ffffff;
      margin-bottom: 20px;
        max-width: 496px;
            margin-left: auto;
            margin-right: auto;
  }

 
.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
     padding:16px 32px;
    display: block;
        margin: 0 auto;
        min-width: 169px;
        border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

.approach {
    background-color:#ffffff ;
    text-align: center;
    padding: 120px 0;
}

.approach-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    white-space: nowrap;
}
.approach-list {
list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.approach-item {
    text-align: left;
width: calc((100% - 72px) / 4)
}

.approach-heading {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.approach-description {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    text-align: center;
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-title{
font-weight: 700;
font-size: 36px;
color: #2E2F42;
 margin-bottom: 40px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
text-align: center;
}
 .team-list {
list-style: none;
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
        }
.team-member {
background-color: #ffffff;
    text-align: center;
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
}
.team-photo {
    margin-bottom: 15px;
}
 .team-info{
    padding: 32px 0;
 }
.team-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
            margin-bottom: 8px;
    
}

.team-role {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.portfolio {
        text-align: center;
        background-color: #FFFFFF;
    padding-top: 120px;
        padding-bottom: 120px;
    }

.portfollio-tit{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 72px;
    }
.portfolio-list {
display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
row-gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.portfolio-item {
    background-color: #FFFFFF;
        border-bottom: 1px solid #dcdcdc;
    width: calc((100% - 48px) / 3);
    border-top: none;
    text-align: left;
        border: 1px solid #e7e9fc;
}
.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
}
.portfolio-content {
    padding: 32px 16px;
}
.portfolio-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}
.portfolio-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}

footer {
    text-align: center;
    background-color: #2E2F42;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    padding:100px 0;
}
.footer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-text {
    color: #f4f4fd;
}
.footer-text {
font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
    text-align: left;
}